@font-face {
  font-family: 'Bebas Neue';
  font-weight: 500;
  src: url('../fonts/Bebas-Neue/BebasNeueRegular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Bebas-Neue/BebasNeueRegular.otf') format('opentype'),
	     url('../fonts/Bebas-Neue/BebasNeueRegular.woff') format('woff'),
       url('../fonts/Bebas-Neue/BebasNeueRegular.ttf') format('truetype')
}

@font-face {
  font-family: 'Bebas';
  font-weight: 500;
  src: url('../fonts/Bebas/Bebas.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Bebas/Bebas.otf') format('opentype'),
	     url('../fonts/Bebas/Bebas.woff') format('woff'),
       url('../fonts/Bebas/Bebas.ttf') format('truetype')
}


@each $font-size in map-keys($font-sizes) {
	.fs-#{$font-size} {
		font-size: font-size($font-size) !important;
	}
}

@each $font-size in map-keys($heading-sizes) {
	.hs-#{$font-size} {
		font-size: heading-size($font-size) !important;
	}
}


.text {
  &-lg {
    font-size: font-size(sm);

    @include media-breakpoint-up(lg) {
      font-size: font-size(lg)
    }
  }

  &-xl {
    font-size: font-size(md);

    @include media-breakpoint-up(lg) {
      font-size: font-size(xl);
    }
  }
}

.heading {
  margin-top: 0;
  margin-bottom: 0;
	font-family: Bebas;
  font-weight: 300;
	letter-spacing: 0.02px;
  word-spacing: .15em;
	text-transform: uppercase;
	color: color(dark);
}

.h1 {
  @extend .heading;
  font-size: heading-size(md);

  @include media-breakpoint-up(lg) {
    font-size: heading-size(xl);
  }
}

.h2 {
  @extend .heading;
  font-size: heading-size(sm);

  @include media-breakpoint-up(lg) {
    font-size: heading-size(lg);
  }
}

.h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: heading-size(xs);
  letter-spacing: -0.7px;
  color: color(dark);

  @include media-breakpoint-up(lg) {
    font-size: heading-size(sm);
  }
}

html {
  font: normal font-size(sm) Arial, Helvetica, sans-serif;
  line-height: 1.3;
  color: color(dark);

  @include media-breakpoint-up(lg) {
    font-size: font-size(lg);
  }
}

* {
	-webkit-font-smoothing: antialiased;
}
