@font-face {
  font-family: 'Bebas Neue';
  font-weight: 500;
  src: url('../fonts/Bebas-Neue/BebasNeueRegular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Bebas-Neue/BebasNeueRegular.otf') format('opentype'),
	     url('../fonts/Bebas-Neue/BebasNeueRegular.woff') format('woff'),
       url('../fonts/Bebas-Neue/BebasNeueRegular.ttf') format('truetype')
}

.heading {
  
}
