@each $color in map-keys($colors) {
	.color-#{"" + $color} {
		color: color($color) !important;
	}
}

.hidden {
  display: none !important;
}


.no-scrolling {
	overflow: hidden;
	height: 100%;
}


.bg {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('../imgs/photos/first-section.png');
	background-size: cover;
	background-position: center;

	&-gradient {

		&-brand {
			background-image: linear-gradient(-45deg, color(brand-accent) 0%, color(accent) 100%);
		}
	}

	&-dark {
		background: color(dark);
	}

	&-section {
		background: color(section);
	}

	&-accent {
		background: color(accent);
	}

	&-transparent-accent {
		background: rgba(color(accent), 0.1);
	}

	&-photo {

		&-1 {
			@extend .bg;
			opacity: .25;
			background-image: url('../imgs/photos/first-section.png');
			background-position: center 30%;
		}

		&-2 {
			@extend .bg;
			opacity: .25;
			background-image: url('../imgs/photos/first-section-2.png');
			background-position: center 30%;
		}
	}

}


.column-reverse {
	display: flex;
	flex-direction: column-reverse;
}
