@each $color in map-keys($colors) {
	.color-#{"" + $color} {
		color: color($color) !important;
	}
}

.hidden {
  display: none !important;
}


.bg {

	&-gradient {

		&-brand {
			background-image: linear-gradient(33deg, color(brand-accent) 0%, color(accent) 100%);
		}
	}

	&-dark {
		background: color(dark);
	}

	&-section {
		background: color(section);
	}

	&-accent {
		background: color(accent);
	}

	&-transparent-accent {
		background: rgba(color(accent), 0.1);
	}

}
