.out-of-page {
  position: absolute;
  left: -9999999px;
}
// .container {
//   padding-left: 30px;
//   padding-right: 30px;
// }

.container-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: $container-wrapper-max-width;
}

.section {
  @extend .container;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 50px;
  padding-bottom: 75px;

  @include media-breakpoint-down(xs) {
    width: 100%;
  }

  @include media-breakpoint-up(lg) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &-wrapper {
    @extend .container-fluid;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
    max-height: 1200px;
  }

  &-bg {
    background: color(section);
  }

  &-content {
    display: flex;
    flex-direction: column;
  }

  &-header {
    display: flex;
    flex-direction: column;
    order: 99999;

    p {
      margin-top: .35em;
      line-height: 1.1;
    }
  }

  &-heading {
    order: 999999;
    margin-top: 1.15em;
  }

  &-text {
    @at-root p#{&}, & p {
      margin-top: 0;
      margin-bottom: 1em;
      max-width: $section-text-max-width;
    }

    color: color(text);
  }

  &-feedbacks {
    max-width: $section-text-max-width;
  }

  &-btn-wrapper {
    align-self: flex-end;


    .btn {
      @include media-breakpoint-down(md) {
        margin-top: 2.5em;
      }

      @include media-breakpoint-up(lg) {
        margin-bottom: 8px;
      }
    }


  }
}

.first {
  position: relative;
  min-height: 400px;

  &.header-offset {
    @include media-breakpoint-down(md) {
      padding-top: 0;
    }
  }

  &-bg {
    background-image: url('../imgs/first-section.png');
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 25%;
    filter: blur(4px);
    opacity: .36;
  }

  &-section {
    padding-top: 20px;
    padding-bottom: 20px;

    @include media-breakpoint-down(md) {
      padding-left: 40px;
      padding-right: 40px;
    }

    @include media-breakpoint-up(lg ) {
      padding-top: 100px;
      padding-bottom: 50px;

      @media (min-height: 550px) {
        padding-top: 170px;
      }
    }

  }
}


.start-section {
  $start-section-padding-y: 50px;
  $start-section: &;

  @extend .container;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: $start-section-padding-y;
  margin-top: auto;
  margin-bottom: auto;

  @include media-breakpoint-down(md) {
    padding-top: $start-section-padding-y;
  }

  @include media-breakpoint-up(lg) {
    min-height: 400px;
  }

  &-theme-accent {
    #{$start-section}-wrapper {
      background-image: linear-gradient(33deg, #F44336 0%, #FF4081 100%);
    }

    #{$start-section}-heading,
    #{$start-section}-text {
      color: #FFF
    }
  }

  &-wrapper {
    @extend .header-offset;
    position: relative;
    display: flex;
    flex-direction: column;
    max-height: 800px;
  }

  &-heading {
    margin-bottom: .7em;
  }

  &-text {
    margin-top: 0;
    margin-bottom: 2.5em;
    font-size: font-size(md);

    @include media-breakpoint-up(lg) {
      font-size: font-size(xl);
    }

    p {
      margin-top: 0;
      margin-bottom: 1em;
      color: color(dark);

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &-btn {
    margin-top: auto;
  }
}


.process {
  $process-item-text-indent: 11.1em;

  &-section {

    @include media-breakpoint-up(lg) {
      padding-top: 100px;
      padding-bottom: 100px;
    }

  }

  &-item {
    position: relative;
    margin-bottom: 60px;
    margin-bottom: 4.3em;
    padding-top: 1.5em;
    padding-left: 2em;
    max-width: 820px;

    @include media-breakpoint-up(lg) {
      padding-top: 1.8em;
      padding-left: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &-heading {
      position: absolute;
      top: 0;
      left: 0;
      color: color(accent);
      opacity: .15;

      @include media-breakpoint-up(lg) {
        left: .4em;
      }
    }

    &-text {
        line-height: 1.25;
        text-align: justify;

        @include media-breakpoint-up(lg) {
          text-indent: $process-item-text-indent;

          p {
            text-indent: 0;

            &:first-child {
              text-indent: $process-item-text-indent;
            }
          }
        }
    }
  }

}


.feedbacks {

}

.quote {
  position: relative;
  margin: 0;
  padding-top: 2.2rem;

  @include media-breakpoint-up(lg) {
    padding-top: 1.6rem;
  }

  &-icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 66px;
    height: 53px;
  }

  > p {
    margin-top: 0;
    margin-bottom: 1em;
    line-height: 1.25;
    color: color(text);

    &:first-of-type {
      text-indent: 4.5em;

      @include media-breakpoint-up(lg) {
        text-indent: 3.5em;
      }
    }
  }

  &-author {
    font-size: font-size(xl);
    font-weight: 700;
    text-align: left;
    color: color(dark);
  }
}


.hire-us {

  &-section {
    display: flex;
    flex-direction: column-reverse;
  }

  &-heading {
    font-size: 30px;
    color: #FFF;

    @include media-breakpoint-up(lg) {
      font-size: 50px;
    }
  }

  &-mail {
    display: block;
    margin-bottom: 1.84em;
    font-size: 50px;
    text-decoration: none;
    color: #FFF;

    &:hover {
      text-decoration: underline;
    }

    @include media-breakpoint-up(lg) {
      margin-bottom: 1em;
      font-size: 100px;
    }
  }

}


a {
  color: color(dark);
  text-decoration: none;
}

.nav-link {
  color: color(dark);
  font-weight: bold;
  text-decoration: none;
}

.list-link {
  $list-link-padding-y: .2em;

  display: block;
  padding-top: $list-link-padding-y;
  padding-bottom: $list-link-padding-y;
  line-height: 1.2;
}

.brand-link {
  border-bottom: 2px solid color(brand);
  color: color(brand);
  text-decoration: none;

  &:hover {
    border-color: transparent;
  }
}


.footer {
  background: #f7f7f7;

  &-content {
    margin-left: auto;
    margin-right: auto;
    // min-height: 370px;
  }

  &-content-wrapper {
    padding-top: 65px;
    padding-bottom: 50px;
    background-image: url('../imgs/map.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include media-breakpoint-up(md) {
      padding-top: 50px;
    }
  }

  &-contacts {

    @include media-breakpoint-down(sm) {
      margin-bottom: 3rem;
    }

    @include media-breakpoint-up(md) {
      margin-right: 7.5rem;
      margin-bottom: 2rem;
    }
  }

  &-nav {
      .nav-link {
          padding-left: 0;
          padding-right: 0;
      }
  }
}


.floating-menu {
  $floating-menu-link-padding-y: .15em;

  display: inline-block;
  position: fixed;
  top: 0px;
  left: -999999px;
  padding-top: 100px;
  min-height: 50vh;
  opacity: 0;
  transition: opacity 500ms ease-in-out;

  // &.hidden {
  //   left: -9999999px;
  // }

  &.visible:hover {
    opacity: 1;
  }

  @media (max-width: $container-wrapper-max-width - 1px) {
    left: -9999999px !important;
  }

  &-emblem {
    margin-bottom: 0.8rem;
  }

  &-nav {
    padding-left: .5em;

    .list-link {
      font-weight: bold;
      transform: translateX(0);
      opacity: .8;
      transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;

      &:hover {
        transform: translateX(.5em);
        opacity: 1;
      }
    }
  }
}



.floating-nav {
  $floating-nav: &;
  $floating-nav-item-margin-y: 4px;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  top: 100px;
  right: 10px;
  font-size: font-size(sm);
  color: color(dark);

  &-text {
    display: inline-block;
    margin-left: 0.7em;
    margin-right: 2.8em;
    font-weight: bold;
    opacity: 0;

    transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &-item {
    display: inline-block;
    position: relative;
    margin-bottom: -11px;
    margin-left: auto;
    width: 1.8em;
    transition: width 500ms cubic-bezier(0.4, 0, 0.2, 1);

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      border-radius: 100px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      height: 2px;
      width: 100%;
      background: color(dark);
    }

    &:last-child {
      margin-bottom: 0;
    }

    &.active {
      width: 8em;

      #{$floating-nav}-text {
        opacity: 1;
      }
    }

  }

}


.products {
  position: relative;

  &-wrapper {
    overflow: hidden;
    background: color(dark);
  }

  &-label {
    position: absolute;
    left: 50%;
    bottom: -10%;
    transform: translateX(-50%);
    font-family: 'Bebas';
    font-size: 360px;
    text-transform: uppercase;
    color: #FFF;
    opacity: .1;
  }

}

.product {
  $product-item-heading-margin: 2rem;
  $product-item-heading-maring-left: 3rem;

  &-item {
    position: relative;
    z-index: 2;

    @include media-breakpoint-up(lg) {
      display: flex;
      align-items: center;
    }

    &-description {
      display: flex;
      flex-direction: column-reverse;
      // width: 50%;
    }

    &-header {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      margin-top: 2em;
      margin-left: -$product-item-heading-maring-left;
      margin-bottom: -$product-item-heading-margin;
    }

    &-heading {
      display: inline-block;
      margin-left: $product-item-heading-maring-left;
      margin-bottom: $product-item-heading-margin;
      font-size: heading-size(sm);
      color: #FFF;

      @include media-breakpoint-up(lg) {
        font-size: 50px;
      }
    }

    &-btn {
      margin-bottom: $product-item-heading-margin;
      margin-left: $product-item-heading-maring-left;;
    }

    &-text {
      margin-top: 0;
      margin-bottom: 1em;
      color: #D0D0D0;
    }

    &-img {
      position: absolute;
      top: 0;
      right: -56px;
      margin: 0;
      width: 1031px;
      height: 577px;
      background-image: url('../imgs/photos/macbook-crm.png');
      background-repeat: no-repeat;
      background-size: contain;
    }

    &-img-col {
      position: relative;
      // width: 50%;
      height: 577px;
    }

  }
}



.contacts {
  &-group {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 40px;
    font-weight: bold;
    line-height: 1.1;
    color: #FFF;
    transition: font-size 250ms ease-in-out;

    &-focused {
      font-size: 70px;
    }
  }

  &-input {
    display: inline-block;
    border: 0;
    border-bottom: 3px solid;
    padding: 0;
    background: transparent;
    outline: none;
    color: #FFF;

  }
}


.tech-section {
  $tech-section-list-link-padding: 0.7em;
  $tech-section-item-padding-x: 1.5rem;
  $tech-section-item-margin-bottom: 1rem;

  &-row {
    margin-bottom: -$tech-section-item-margin-bottom;

    @include media-breakpoint-up(lg) {
      margin-right: -$tech-section-item-padding-x;
    }
  }

  &-heading {
    margin-bottom: 1.2em;
  }

  &-item {
    margin-bottom: $tech-section-item-margin-bottom;
    padding-left: $tech-section-item-padding-x;
    padding-right: $tech-section-item-padding-x;
  }

  &-list-heading {
    margin-top: .5em;
    margin-bottom: 1em;
  }

  &-list {
    margin: 0;
    padding: 0;
    font-size: font-size(md);
    text-transform: uppercase;
    color: color(text);

    .list-link {
      padding-top: $tech-section-list-link-padding;
      padding-bottom: $tech-section-list-link-padding;
    }

    @include media-breakpoint-up(lg) {
      font-size: font-size(lg);
    }
  }

}
