@mixin header-style($color) {
  .header-logo {
      .logo {
        &-emblem-shape,
        &-logotype-shape {
          fill: $color;
        }
      }
  }

  .header-menu-burger {
      .menu-burger {
        &-stick {
          background: $color;
        }

        &-label {
          color: $color;

          &-shape {
            fill: $color;
          }
        }
      }
  }
}

.header {
  $header: &;

  &-dark {
    @include header-style(#191919);

    &-lg {
        @include media-breakpoint-up(lg) {
          @include header-style(#191919);
        }
    }
  }

  &-light {
    @include header-style(#FFF);

    &-lg {
        @include media-breakpoint-up(lg) {
          @include header-style(#FFF);
        }
    }
  }
}

@mixin logo-style($trapezia-fill, $triangle-fill) {
  .logo {
      &-emblem-shape {
        &:first-child {
          fill: $trapezia-fill !important;
        }

        &:nth-child(2) {
          fill: $triangle-fill !important;
        }
      }

      &-logotype-shape {
        fill: $triangle-fill !important;
      }
  }
}

.logo {
  $logo-emblem-lg-width: 60px;

  display: inline-block;
  position: relative;

  @include media-breakpoint-up(lg) {

    &:hover &-logotype {
      transform: translateX($logo-emblem-lg-width);
      opacity: 1;
    }

  }

  &-brand {
    @include logo-style($trapezia-fill: #F1183C, $triangle-fill: #F44336);

    &-lg {
        @include media-breakpoint-up(lg) {
          @include logo-style($trapezia-fill: #F1183C, $triangle-fill: #F44336);
        }
    }
  }

  &-emblem {
    display: block;
    width: 38px;
    height: auto;

    @include media-breakpoint-up(lg) {
      width: $logo-emblem-lg-width;
    }
  }

  &-logotype {
    display: none;

    @include media-breakpoint-up(lg) {
      display: block;
      transform: translateX($logo-emblem-lg-width - 20px);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      margin-top: auto;
      margin-bottom: auto;
      border-left: 20px solid transparent;
      opacity: 0;
      transition: all 220ms ease-in-out;
    }

    &-hidden {
      z-index: -1;
      overflow: hidden;
    }

  }
}
