@mixin menubar-simple-link() {
  text-decoration: none;
  font-size: font-size(lg);
  color: color(light-text);
}

.menubar {
  left: -99999999px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  opacity: 1;
  transform: translateX(100%);
  transition: all 600ms ease-in-out;

  &.active {
    transform: translateX(0);
  }

  &.closing {
    transform: translateX(100%);
  }

  &-nav {
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 100px;
    padding-bottom: 50px;
    list-style: none;

    @include media-breakpoint-down(xs) {
      padding-left: 40px;
      padding-right: 20px;
      width: 100%;
    }

  }

  &-link:first-child, &-simple-link:first-child {
    margin-top: 0;
  }

  &-link:last-child, &-simple-link:last-child {
    margin-bottom: 0;
  }

  &-link, &-simple-link {
    transform: translateX(0);
    transition: all 300ms ease-in-out;
    transition-delay: 40ms;
  }

  &-gap {
    display: block;
    height: 10px;
  }

  &-link {
    display: block;
    margin-top: 26px;
    margin-bottom: 26px;
    font-family: 'Bebas';
    font-size: 30px;
    line-height: 1.1;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: -0.82px;
    color: color(menubar-text);

    @include media-breakpoint-up(lg) {
      margin-top: 32px;
      margin-bottom: 32px;
      font-size: 35px;
    }

    &.active {
      color: color(brand);
    }

    &:hover {
      transform: translateX(1em);
    }
  }

  &-simple-link {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    @include menubar-simple-link;

    a {
      @include menubar-simple-link;
    }
  }

}
